@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark;
  }

  body,
  .p {
    @apply font-sans text-white;
  }

  strong {
    @apply font-semibold;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .layout {
    /* 1184px */
    max-width: 74rem;
    @apply w-full px-3 md:mx-auto md:px-4;
  }

  .h-screen-small {
    @apply h-screen;
    height: 100svh;
  }

  .min-h-screen-small {
    @apply min-h-screen;
    min-height: 100svh;
  }
}
